.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(0, 0, 0);
  opacity: 0;
  z-index: 50;
  transition: opacity 250ms ease;
  &.is-open {
    opacity: 0.6;
  }
}
