body {
  color: $gray;
  font-family: $ff-s;
  line-height: 1.6;
  background: $white;
  font-size: 0.875rem; // <p>
  // increase font-size on desktop!
  @include md {
    font-size: 1.125rem;
  }
}

img {
  max-width: 100%;
}

h1,
h2,
p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1 {
  color: $accent;
  line-height: 1;
  font-size: 3.125rem;
  @include md {
    font-size: 4.25rem;
  }
}

h2 {
  @include sans-serif($fz: 2rem);
  @include md {
    font-size: 3.125rem;
  }
}

figure {
  margin: 0;
}
