nav {
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  width: auto;
  max-width: 100%;
  transition: transform 250ms ease-in-out;
  transform: translateX(-100%);
  &.is-open {
    transform: translateX(0);
  }
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    background: $accent;
    list-style: none;
    // transform: translateX(-100%);

    li {
      & > a {
        display: block;
        @include sans-serif($fz: 4rem, $c: $dark-blue, $lh: 0);
        text-decoration: none;
        padding: calc(100vh / 8) 1em;
      }
      &:hover {
        background: rgba($dark-blue, 0.2);
      }
    }
  }
}

.menu-btn-open {
  position: absolute;
  top: 2em;
  left: 2em;
  background: transparent;
  border: none;
  z-index: 200;

  .menu-btn-close {
    display: none;
    position: relative;
  }
  &.is-open {
    display: none;
  }
}

.menu-btn-close {
  position: absolute;
  z-index: 200;
  top: 1em;
  right: 1em;
  background: transparent;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2em;
}
